/* flip */

h2 {
    margin-left: 30px;
}

p {
    margin-left: 30px;
    margin-right: 30px;
}

a {
    background-color: #c9e5ef;
    color: #144757; 
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}

a:hover {
    background-color: #144757;
    color: #c9e5ef; 
    text-decoration: none;
}

.flip {
    backface-visibility:             hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;
        -o-backface-visibility:      hidden;
        -webkit-backface-visibility: hidden;
    position: absolute;
    transform-origin:             50% 50% 0px;
        -moz-transform-origin:    50% 50% 0px;
        -ms-transform-origin:     50% 50% 0px;
        -o-transform-origin:      50% 50% 0px;
        -webkit-transform-origin: 50% 50% 0px;
    transition: all 3s;
        -moz-transition:    all 0.7s;
        -ms-transition:     all 0.7s;
        -o-transition:      all 0.7s;
        -webkit-transition: all 0.7s;  
    background-color: white;
    border: 1px solid rgb(40, 47, 12);
    padding-bottom: 5px;
    box-shadow: 4px 4px #7f8588;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 600px;
    height: 360px;
}

.top {
    transition: top 1.5s ease; 
    top: 800px;
}

.slideup {
    top: 190px;
}

.bottom {
    transition: top 1.5 ease;
    top: 190px;
}

.slidedown {
    top: 800px;
}

#side-1 {
    transform:             rotateY( 0deg );
        -moz-transform:    rotateY( 0deg );
        -ms-transform:     rotateY( 0deg );
        -o-transform:      rotateY( 0deg );
        -webkit-transform: rotateY( 0deg );
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.synonyms {
    background-color: #add8e6;
}

.antonyms {
    background-color: #D8B8F2;
}

.definitions {
    background-color: #BEEAAA;
}

.noresults {
    background-color: #ffffff;
}

#side-2 svg {
    float: right;
    position: absolute;
    right: -250px;
    fill: #ff6961;
}

#side-2 svg:hover {
    cursor: pointer;
    fill: #dd5048;
}

.flip-side-1 {    
    transform:             rotateY( 0deg ) !important;
        -moz-transform:    rotateY( 0deg ) !important;
        -ms-transform:     rotateY( 0deg ) !important;
        -o-transform:      rotateY( 0deg ) !important;
        -webkit-transform: rotateY( 0deg ) !important;
}

.flip-side-2 {
    transform:             rotateY( 180deg ) !important;
        -moz-transform:    rotateY( 180deg ) !important;
        -ms-transform:     rotateY( 180deg ) !important;
        -o-transform:      rotateY( 180deg ) !important;
        -webkit-transform: rotateY( 180deg ) !important;
}


/* START PAGE */


/* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; */


body {
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    background-color: #e6f4f8;
    margin: 0;
    font-family: nobel, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
}

#result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4px;
    font-size: 18px;
}

#result > div {
    margin: 3px;
    background-color: rgb(245, 232, 251);
}

#result > div:hover {
    background-color: rgb(228, 206, 238);
    cursor: pointer;
}

#definition {
    padding-left: 7px;
    padding-top: 4px;
    padding-bottom: 0px;
    font-size: 19px;
}

main {
    grid-area: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    margin-bottom: 100px;
    /* background-image: url('https://www.freeiconspng.com/thumbs/grid-png/grid-png-transparent-pic-18.png'); */
}

mainbody {
    display: grid;
    grid-template-areas: "home side";
    grid-template-columns: 3fr 2fr;
    height: 80%;
    width: 100%;
    padding: 10px;
}

mainbody #image {
    height: 100%;
    padding: 10px;
    margin: 10px;
    grid-area: side;
}

#home {
    grid-area: home;
}

mainbody > div > img {
    max-width: 100%;
    border: 5px solid #555;
}

/*
mainbody > div > img {
    display: block;
    width: auto;
    max-width: 100%;
    transform:rotate(-6deg);
    max-height: 600px;
}
    */

maintitle {
    height: 20%;
}


main .title, section, #searchresult {
    margin-left: 30px;
    margin-right: 30px;
}

section #image {
    display: block;
}


/* HEADER AND NAVIGATION */

header {
    background-color: #073B4C;
    color: white;
    grid-area: top;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "top right"
        "bottom right";
    background-image: url('whitegrid.png');
    z-index: 4;
    width: 100%
}

logo {
    grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

logo > div {
    background-color: lightblue;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

logo img {
    transition: transform 2s;
}

logo img:hover {
    transform: rotate(360deg);
}

nav {
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    grid-area: bottom;
}

nav > a {
    background-color: #2f6b7e;
    color: white;
    text-decoration: none;
    padding: 6px;
    border: 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-left: 8px;
    font-family: nobel, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.5px;
    font-size: 16px;
    margin-bottom: 0px;
    margin-right: 0px;
}

nav > a:hover:not(.selected) {
    background-color: #245462
}

/* FOOTER */

footer {
    width: 100%;
    background-color: #073B4C;
    display: flex;
    grid-template-columns: 9fr 1fr;
    color: white;
    text-align: center;
    margin-top: 10px;
}



footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color:rgb(156, 224, 255);
    text-decoration: none;
}

.selected {
    background-color: #e6f4f8;
    color: #0C5169;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#notecard {
    background-color: white;
    border: 1px solid darkgray;
    padding-bottom: 5px;
    box-shadow: 5px 5px #9cabb2;
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}

#partofspeech {
    border-bottom: 1.5px solid #EB98A4;
    margin: 0;
    padding-left: 8px;
    padding-top: 8px;
    font-weight: bold;
    color: black;
    font-size: 24px;
}

/* ==== HOMEPAGE ==== */

#homepage {
    background-color: white;
    border: 1px solid darkgray;
    padding-bottom: 5px;
    box-shadow: 5px 5px #9cabb2;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50%;
    line-height: 25px;
    display: block;
    background-image: repeating-linear-gradient(white 0px, white 24px, #8EB8DC 25px);
}

#homepage > p {
    padding-left: 8px;
    margin: 0;
    font-size: 18px;
    min-height: 18px
}

#homepage > h2 {
    border-bottom: 1.5px solid #EB98A4;
    margin: 0;
    padding-left: 8px;
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 38px;
    background-color: white;
    margin-bottom: 0;
}

#homepage .blank {
    margin-bottom: 7px;
}

h1 {
    font-size: 45px;
    display: flex;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    border: 1px solid black;
    padding: 8px;
    width: 60%;
    margin-top: 10px;
    box-shadow: 4px 4px rgba(44, 45, 45, 0.6);
    background-color: #FFD0E5;
}

.title h2 {
    font-size: 35px;
    font-family: 'Caprasimo';
    color: rgb(172, 24, 105);
    -webkit-text-stroke: white;
    -webkit-text-stroke-width: 0.7px;
}

#valid {
    color: rgb(207, 89, 89);
    text-align: center;
}

.collapsible:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 18px;
    color: black;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
  }

#wordlist button {
    align-items: center;
    justify-content: center;
}

/* ==== UDL PORTFOLIO ==== */

#udl {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.udl {
    height: 20%;
    width: 30%;
    border-radius: 10px;
    color: white;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.udl p {
    margin: 0px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.udl h3 {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.udl svg {
    margin-bottom: -5px;
    z-index: 1;
}

.udl img {
    height: 40%;
    width: 40%;
    position: relative;
    display: inline;
    z-index: 2;
    margin-left: 55%;
    margin-bottom: -15%;
}

.udlcollapse {
    border-radius: 10px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    height: 6rem;
}

.active, .udlcollapse:hover {
    background-color: #555;
}

.content {
    padding-right: 5px;
    max-height: 0;
    overflow: hidden;
    background-color: white;
    transition: max-height 0.2s ease-out;
}

.content p, li {
    text-align: justify;
}

#collapsible {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 30%;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.udlcollapse p {
    margin: 0px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: nobel, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0.5px;
}

.udlcollapse h3 {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: nobel, sans-serif;
    font-weight: 600;
    font-size: 14pt;
    font-style: normal;
    letter-spacing: 0.5px;
}

.content ul, li {
    margin-left: 0px;
    margin-right: 5px;
}

ul, li {
    margin-left: 10px;
    margin-right: 5px;
    line-height: 140%;
}